/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/Build-Win64
/Build-Android
/copydll.bat
/Debug
/.idea/
/update_unity_libil2cpp.bat
/*.csproj
/*.sln
/Build-Win64-2
/Build-Android2
/Build-Android-2020.3.33
/Build-Win64-2020.3.33
/Build-Win64-2021.3.1
/UserSettings/Layouts
/Build-Android-2021.3.1
/Release
/HybridCLRData/
/Release-Win64
/Build-Android64
/Build-AndroidV7
/Assets/HybridCLRBuildCache
/Assets/HybridCLRBuildCache.mate
/Release-Android
/Release-Win32
/Build-WebGL
/Assembly-CSharp-Editor.csproj.user
/Build-AndroidV8
Build-Mac
/Build-iOS
/HybridCLRData
/Packages/com.focus-creative-games.hybridclr_unity
/UserSettings
/Tool/GShell/.vs
/Tool/GShell/publish
/Tool/GShell/GShell/bin
/Tool/GShell/GShell/obj
/Tool/GShell/GShell.Core/obj
/Tool/GShell/GShell.Core/bin
/Tool/GShell/GShell/Properties/launchSettings.json
/demo/Release-Win64
/demo/Temp
/demo/UserSettings
/demo/.vsconfig
/demo/HybridCLRData
/demo/Library
/demo/Logs
/demo/*.csproj
/demo/*.sln
/src/GShell.UnityClient/.vsconfig
/src/GShell.UnityClient/Library
/src/GShell.UnityClient/Logs
/src/GShell.UnityClient/UserSettings
/src/GShell.UnityClient/*.sln
/src/GShell.UnityClient/*.csproj
/src/GShell/.vs
/src/GShell/GShell/obj
/src/GShell/GShell/bin
/src/GShell/GShell.Core/bin
/src/GShell/GShell.Core/obj
/src/GShell/publish
/src/GShell/GShell/Properties/launchSettings.json
/src/GShell.UnityClient/Temp
/demo/obj
/demo/.vs
/src/GShell/Basic.Reference.Assemblies.NetStandard21/obj
/src/GShell/Basic.Reference.Assemblies.NetStandard21/bin
/demo/HttpServer/.vs
/demo/HttpServer/bin
/demo/HttpServer/obj
/demo/Client/.vsconfig
/demo/Client/.vs
/demo/Client/HybridCLRData
/demo/Client/Library
/demo/Client/Logs
/demo/Client/obj
/demo/Client/Release-Win64
/demo/Client/UserSettings
/demo/Client/*.sln
/demo/Client/*.csproj
/demo/Client/Temp
/src/GShell/GShell.ObjectFormatter/obj
/src/GShell/GShell.ObjectFormatter/bin
/src/GShell/obj
/src/GShell.UnityClient/.vs
/src/GShell.UnityClient/obj
/demo/GShell.Web/obj
/demo/GShell.Web/.vs
/demo/GShell.Web/bin
