@inherits LayoutComponentBase

<div class="page" style="display: flex; flex-direction: column; flex: 1;">
    <main style="display: flex; flex-direction: column;">
        <article class="content px-4" style="display: flex; flex-direction: column; flex: 1;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
